﻿@model VideoRentals.Models.Movie
@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>


<ul>
    <li>Genre: @Model.Genre.Name</li>
    @if (!Model.ReleasedDate.IsEmpty())
    {
        <li>Released Date: @Model.ReleasedDate</li>
    }
    @if (!Model.DateAdded.IsEmpty())
    {
        <li>Date Added: @Model.DateAdded</li>
    }
    @if (!Model.Stock.ToString().IsEmpty())
    {
        <li>Number in Stock: @Model.Stock</li>
    }
</ul>