﻿@*
    @model IEnumerable<VideoRentals.Models.Movie>

    @{
        ViewBag.Title = "Movies";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Movies</h2>

    <p>
        @Html.ActionLink("New Movie", "New", "Movie", null, new { @class = "btn btn-primary" })
    </p>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Movie</th>
                <th>Genre</th>
                <th>Released Date</th>
                <th>Number in Stock</th>
                <th>Date Added</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <td>@Html.ActionLink(movie.Name, "Edit", "Movie", new { id = movie.Id }, null)</td>
                    <td>@movie.Genre.Name</td>
                    <td>@movie.ReleasedDate</td>
                    <td>@movie.Stock</td>
                    <td>@movie.DateAdded</td>
                </tr>
            }
        </tbody>
    </table>
*@

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>


<p>
    @Html.ActionLink("New Movie", "New", "Movie", null, new { @class = "btn btn-primary" })
</p>

<table id="movies" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Genre</th>
            <th>Released Date</th>
            <th>Number in Stock</th>
            <th>Date Added</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>


@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#movies").DataTable({
                ajax: {
                    url: "/api/movie",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, movie) {
                            return "<a href='/movie/edit/" + movie.id + "'>" + movie.name + "</a>";
                        }
                    },
                    {
                        data: "genre.name"
                    },
                    {
                        data: "releasedDate"
                    },
                    {
                        data: "stock"
                    },
                    {
                        data: "dateAdded"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-movie-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });


            $("#movies").on("click", ".js-delete",
                function () {
                    var button = $(this);
                    bootbox.confirm("Confirm?",
                        function (result) {
                            //console.log(button.attr("data-customer-id"));
                            if (result) {
                                $.ajax({
                                    url: "/api/movie/" + button.attr("data-movie-id"),
                                    method: "DELETE",
                                    success: function () {
                                        //console.log("Success");
                                        //button.parents("tr").remove();
                                        table.row(button.parents("tr")).remove().draw();
                                    }
                                });
                            }
                        });
                });
        });
    </script>
}