﻿@*
    @model IEnumerable<VideoRentals.Models.Movie>

    @{
        ViewBag.Title = "Movies";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Movies</h2>

    <p>
        @Html.ActionLink("New Movie", "New", "Movie", null, new { @class = "btn btn-primary" })
    </p>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Movie</th>
                <th>Genre</th>
                <th>Released Date</th>
                <th>Number in Stock</th>
                <th>Date Added</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <td>@Html.ActionLink(movie.Name, "Edit", "Movie", new { id = movie.Id }, null)</td>
                    <td>@movie.Genre.Name</td>
                    <td>@movie.ReleasedDate</td>
                    <td>@movie.Stock</td>
                    <td>@movie.DateAdded</td>
                </tr>
            }
        </tbody>
    </table>
*@

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>


<table id="movies" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Genre</th>
            <th>Released Date</th>
            <th>Number in Stock</th>
            <th>Date Added</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>


@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#movies").DataTable({
                ajax: {
                    url: "/api/movie",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name"
                    },
                    {
                        data: "genre.name"
                    },
                    {
                        data: "releasedDate"
                    },
                    {
                        data: "stock"
                    },
                    {
                        data: "dateAdded"
                    }
                ]
            });
        });
    </script>
}