﻿@model VideoRentals.Models.Customer
@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>

<ul>
    <li>Membership Type: @Model.MembershipType.Name</li>
    @if (!Model.Birthdate.IsEmpty())
    {
        <li>Birthdate: @Model.Birthdate</li>
    }
</ul>
