﻿@*

    @model IEnumerable<VideoRentals.Models.Customer>
    @{
        ViewBag.Title = "Customers";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Customers</h2>
    @if (!Model.Any())
    {
        <p>We don't have any customers yet.</p>
    }
    else
    {
        <p>
            @Html.ActionLink("New Customer", "New", "Customer", null, new { @class = "btn btn-primary" })
        </p>
        <table id="customers" class="table table-bordered table-hover">
             <thead>
                 <tr>
                     <th>Customer</th>
                     <th>DiscountRate</th>
                     <th>MembershipType</th>
                     <th>Delete</th>
                 </tr>
             </thead>
             <tbody>
             @foreach (var customer in Model)
             {
                 <tr>
                     <td>@Html.ActionLink(customer.Name, "Edit", "Customer", new { id = customer.Id }, null)</td>
                     <td>@customer.MembershipType.DiscountRate%</td>
                     <td>@customer.MembershipType.Name</td>
                     <td>
                         <button class="btn-link js-delete" data-customer-id="@customer.Id">Delete</button>
                     </td>
                 </tr>
             }
             </tbody>
        </table>
    }
*@

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<p>
    @Html.ActionLink("New Customer", "New", "Customer", null, new { @class = "btn btn-primary" })
</p>

<table id="customers" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Customer</th>
        <th>MembershipType</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#customers").DataTable({
                ajax: {
                    url: "/api/customer",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, customer) {
                            return "<a href='/customer/edit/" + customer.id + "'>" + customer.name + "</a>";
                        }
                    },
                    {
                        data: "membershipType.name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-customer-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });


            $("#customers").on("click", ".js-delete",
                function () {
                    var button = $(this);
                    bootbox.confirm("Confirm?",
                        function (result) {
                            //console.log(button.attr("data-customer-id"));
                            if (result) {
                                $.ajax({
                                    url: "/api/customer/" + button.attr("data-customer-id"),
                                    method: "DELETE",
                                    success: function () {
                                        //console.log("Success");
                                        //button.parents("tr").remove();
                                        table.row(button.parents("tr")).remove().draw();
                                    }
                                });
                            }
                        });
                });
        });
    </script>
}